In [1]:
import resources #Must be 1st line
import pandas as pd

### Terzaghi's

In [2]:
from blcalc.methods.terzaghi import Terzaghi
datas = {'phi': [], 'Nc': [], 'Nq': [], 'Ny': []}
for phi in range(0,51,5):
    datas['phi'].append(phi)
    datas['Nc'].append(Terzaghi.Nc(phi))
    datas['Nq'].append(Terzaghi.Nq(phi))
    datas['Ny'].append(Terzaghi.Ny(phi))
pd.DataFrame(datas)
#Formula not used here

    phi     Nc     Nq      Ny
0     0    5.7    1.0     0.0
1     5    7.3    1.6     0.5
2    10    9.6    2.7     1.2
3    15   12.9    4.4     2.5
4    20   17.7    7.4     5.0
5    25   25.1   12.7     9.7
6    30   37.2   22.5    19.7
7    35   57.8   41.4    42.4
8    40   95.7   81.3   100.4
9    45  172.3  173.3   297.5
10   50  347.5  415.1  1153.0

### Meyerhof's

In [3]:
from blcalc.methods.meyerhof import Meyerhof
datas = {'phi': [], 'Nc': [], 'Nq': [], 'Ny': []}
for phi in range(0,51,5):
    datas['phi'].append(phi)
    datas['Nc'].append(Meyerhof.Nc(phi))
    datas['Nq'].append(Meyerhof.Nq(phi))
    datas['Ny'].append(Meyerhof.Ny(phi))
pd.DataFrame(datas)

    phi          Nc          Nq          Ny
0     0    5.141593    1.000000   -0.000000
1     5    6.488823    1.567698    0.069705
2    10    8.344926    2.471436    0.366870
3    15   10.976509    3.941147    1.129000
4    20   14.834712    6.399394    2.870908
5    25   20.720531   10.662142    6.765505
6    30   30.139628   18.401122   15.668041
7    35   46.123599   33.296091   37.152403
8    40   75.313114   64.195206   93.690746
9    45  133.873841  134.873841  262.742206
10   50  266.881763  319.057299  873.855248

### Hansen

In [5]:
from blcalc.methods.hansen import Hansen
datas = {'phi': [], 'Nc': [], 'Nq': [], 'Ny': []}
for phi in range(0,51,5):
    datas['phi'].append(phi)
    datas['Nc'].append(Hansen.Nc(phi))
    datas['Nq'].append(Hansen.Nq(phi))
    datas['Ny'].append(Hansen.Ny(phi))
pd.DataFrame(datas)

    phi          Nc          Nq          Ny
0     0    5.141593    1.000000   -0.000000
1     5    6.488823    1.567698    0.089401
2    10    8.344926    2.471436    0.467017
3    15   10.976509    3.941147    1.418540
4    20   14.834712    6.399394    3.537393
5    25   20.720531   10.662142    8.109956
6    30   30.139628   18.401122   18.083777
7    35   46.123599   33.296091   40.705140
8    40   75.313114   64.195206   95.448734
9    45  133.873841  134.873841  240.972913
10   50  266.881763  319.057299  682.282673

### Vesic

In [6]:
from blcalc.methods.vesic import Vesic
datas = {'phi': [], 'Nc': [], 'Nq': [], 'Ny': []}
for phi in range(0,51,5):
    datas['phi'].append(phi)
    datas['Nc'].append(Vesic.Nc(phi))
    datas['Nq'].append(Vesic.Nq(phi))
    datas['Ny'].append(Vesic.Ny(phi))
pd.DataFrame(datas)

    phi          Nc          Nq          Ny
0     0    5.141593    1.000000    0.000000
1     5    6.488823    1.567698    0.449289
2    10    8.344926    2.471436    1.224216
3    15   10.976509    3.941147    2.647953
4    20   14.834712    6.399394    5.386318
5    25   20.720531   10.662142   10.876293
6    30   30.139628   18.401122   22.402486
7    35   46.123599   33.296091   48.028764
8    40   75.313114   64.195206  109.410547
9    45  133.873841  134.873841  271.747681
10   50  266.881763  319.057299  762.858873